/* General Body Styling */
body {
  margin: 50px auto;
  max-width: 1200px;
  font-family: 'Lato', sans-serif; 
  color: #333;
  text-align: center;
  background: #f0f0f0; /* Adds a light background to the whole page for contrast */
  line-height: 1.6; /* Improves readability */
}

/* Image Styling */
img {
  max-width: 75%; /* Makes images responsive */
  height: auto; /* Maintains aspect ratio */
  border: 2px solid #ccc; /* Lighter border color for softer look */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* More subtle shadow */
}

/* Section Styling */
.section-wrapper {
  background-color: #fff; /* Brighter sections for better readability */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd; /* Lighter border */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Adds depth */
}

/* Flexbox Layout for Education and Experience Sections */
.education-content, .experience-wrapper, .project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusted for a more balanced layout */
  gap: 20px; /* Adds gap between flex items for better spacing */
}

.education-image, .education-text, .experience-list-item, .project-list-item {
  flex: 1 1 300px; /* Allows boxes to grow and shrink but not smaller than 300px */
  margin: 10px;
  text-align: left; /* Aligns text to the left for better readability */
  padding: 15px; /* Adds more space inside elements */
}

/* Hover Effects */
h1:hover, h3:hover, .experience-list-item:hover, .project-list-item:hover, a:hover {
  transform: scale(1.05); /* Slightly enlarges elements on hover for interactive feel */
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Enhances shadow on hover */
  background-color: #090c63; /* Dark blue background on hover */
  color: #fff; /* Change text color to white on hover for better visibility */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}


h1:hover, h3:hover, a:hover {
  transform: none; /* Prevents individual elements from transforming */
  box-shadow: none; /* Prevents individual shadow changes */
  background-color: inherit; /* Keeps the background color consistent with the container */
  color: inherit; /* Keeps the text color consistent with the container */
}

/* Link Styling */
a {
  color: #5375f0; /* Keeps your chosen color */
  text-decoration: none;
  background-color: #f9f9f9; /* Subtle background */
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .education-content, .experience-wrapper, .project-wrapper {
      flex-direction: column; /* Stacks elements vertically on smaller screens */
  }
  body {
      margin: 20px; /* Reduces margin on smaller screens */
  }
}
